.tm-accordion-header {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: .25rem;
}

/* Use .tm-accordion-button in the same element where you use .accordion-button, as this
   class resets some of the visual styles (focused, expanded) of .accordion-button
*/

.tm-accordion-button:focus {
	/* Reset the values from .accordion-button:focus, we don't want the blue aura.
	   See also .tm-callout-* for the extra hoops we need to go through to make the
	   callout colors stick.
	*/
	box-shadow: initial;
	border: none;
}

.tm-accordion-button, .tm-accordion-button:not(.collapsed) {
	/* Reset the values from .accordion-button:not(.collapsed), by assigning
	   the same values used in .accordion-button.
	*/
	/* See https://getbootstrap.com/docs/5.0/customize/css-variables/ */
	color: var(--bs-dark);
	background-color: transparent;

	/* See the CollapsibleContainer class, we use .tm-accordion-header to define the
	   borders of the accordion header, not the accordion button, because in some cases
	   we want to show a select checkbox next to the button, and we can't do that inside
	   the button (we haven't figured out a way to stop the button from collapsing/expanding
	   when clicking the checkbox, stopPropagation() has no effect and the Bootstrap event
	   gets generated before the event on the checkbox)
	*/
	border: none;
}

.tm-accordion-button::after, .tm-accordion-button:not(.collapsed)::after {
	/* Reset the color of the caret from .accordion-button::after to use a consistent
	   color of our choice both when the accordion is collapsed or not.
	   .accordion-button::after uses a "background-image", but a "-webkit-mask" allows
	   us to change caret color by just changing background color (see .tm-accordion-button-incognito::after).
	*/

	/* Remove the background-image set by .accordion-button::after */
	background-image: none;

	/* Add the mask */
	-webkit-mask: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

	/* Since we're using a mask, the "background-color" is actually the color visible
	   in the caret (needs to match the text color of other elements)
	*/
	/* See https://getbootstrap.com/docs/5.0/customize/css-variables/ */
	background-color: var(--bs-dark);
}

.tm-accordion-button-incognito, .tm-accordion-button-incognito:not(.collapsed) {
	/* See https://getbootstrap.com/docs/5.0/customize/css-variables/ */
	color: var(--bs-light);
	border-color: var(--bs-dark);
}

.tm-accordion-button-incognito::after, .tm-accordion-button-incognito:not(.collapsed)::after {
	/* See https://getbootstrap.com/docs/5.0/customize/css-variables/ */
	background-color: var(--bs-light);
}

.tm-accordion-header-align {
	margin-top: -.1rem;
}